.mainContainer {
  padding-bottom: 5rem;
}

@media (min-width: 1024px) {
  .mainContainer {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .desktopLayout {
    flex: 1;
    overflow: hidden;
    height: auto;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 2rem;
    align-items: start;
  }

  .desktopLeft {
    /* height: 100%; */
    /* Removed to let calendar take natural size */
    /* overflow-y: auto; */
    /* Not needed if not fixed height */
    display: flex;
    justify-content: center;
    /* Center calendar if needed */
    position: static !important;
    /* Override global sticky */
    top: auto !important;
    align-self: start;
    height: fit-content;
  }

  .desktopRight {
    height: 537px;
    /* Fixed height to match calendar approx */
    overflow-y: hidden;
    /* Container doesn't scroll */
    display: flex;
    flex-direction: column;
  }
}