.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    z-index: 2000;
    animation: fadeIn 0.3s ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Generic Bounce Animation */
.bounceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.bounceEmoji {
    font-size: 8rem;
    animation: bounce 1s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
    opacity: 0;
    transform: scale(0);
}

@keyframes bounce {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}